<!DOCTYPE html>
<html lang="en">


{% include 'head.njk' %}

<body id="home" class="custom-cursor">


{{ content | safe }}

{% include 'header2.njk' %}
{% include 'printing_slider.njk' %}
{% include 'footer-content.njk' %}
{% include 'footer-scripts.njk' %}



</body>
</html>