<!-- Features -->
<section class="comonSection featuresSection" id="features">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle"> 
                    <h2><span class="underline--magical">Website Design Features</span></h2>
                    {# <p>Why chose me</p> #}
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3 wow fadeIn" data-wow-duration="700ms" data-wow-delay="350ms">
                <button class="btn btn-block m-0 border-0 text-center collapsible-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Responsive Design 
                </button>
            </div>
            <div class="col-lg-6 mb-3 wow fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
                <button class="btn btn-block m-0 border-0 text-center collapsible-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Search Engine Optimised 
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3 wow fadeIn" data-wow-duration="700ms" data-wow-delay="650ms">
                <button class="btn btn-block m-0 border-0 text-center collapsible-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Fast Loading Times 
                </button>
            </div>
            <div class="col-lg-6 mb-3 wow fadeIn" data-wow-duration="700ms" data-wow-delay="800ms">
                <button class="btn btn-block m-0 border-0 text-center collapsible-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Affordable Packages 
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="collapseOne">
                    <div class="card card-body mx-auto">
                        All of my websites are designed to be device-friendly. This technique provides dynamic changes to the appearance of the website, depending on the screen size it is being viewed from.     
                        {# <p>You can read more about <a href="#">Responsive Design</a> on my info page.</p> #}
                    </div>    
                </div>
                <div class="collapse" id="collapseTwo">
                    <div class="card card-body mx-auto">
                        Your site will have the search engine optimisation structure baked into it. This is required for on-page SEO and will help search engines find and value your content.
                        {# <p>You can read more about <a href="#">SEO</a> on my info page.</p> #}
                    </div>
                </div>
                <div class="collapse" id="collapseThree">
                    <div class="card card-body mx-auto">
                    I build websites using modern technologies and coding practices, which ensures your newly designed website will be blazingly fast and secure.
                    </div>
                </div>
                <div class="collapse" id="collapseFour">
                    <div class="card card-body mx-auto">
                    As a freelancer, I don't have the financial overheads required to run a web design agency. This means I can charge a lower rate, yet still maintain the quality and expertise you would expect from an agency, just at a lower price.
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section    