<!-- Include All JS -->
        {# <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/> #}
        <link rel="stylesheet" type="text/css" href="/css/bootstrap_pure.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="print" onload="this.media='all'; this.onload=null;"/>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" defer src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" defer src="/js/mixer.js"></script>
        <script type="text/javascript" defer src="/js/wow.min.js"></script>
        <script type="text/javascript" defer src="/js/tilt.jquery.js"></script>
        <script type="text/javascript" defer src="https://res.cloudinary.com/veseylab/raw/upload/v1613706377/magicmouse/magic_mouse-1.1.js"></script>
        <script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.4/cloudinary-core-shrinkwrap.min.js"></script>
        <script type="text/javascript" defer src="/js/theme.js"></script>
        {# <script type="text/javascript" defer src="/js/jquery.appear.js"></script> #}
        {# <script type="text/javascript" defer src="/js/respond.min.js"></script> #}
        {# <script type="text/javascript" src="/js/prettyPhoto.js"></script> #}
        {# <link rel="stylesheet" type="text/css" href="/css/preset.css"/> #}
        {# <link rel="stylesheet" type="text/css" href="/css/responsive.css"/> #}



</script>