<!-- Footer Section -->
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                {# <div class="socialMenu">
                    <a href="#" class="goo"><i class="fab fa-google"></i></i></a>
                    <a href="#" class="goo"><i class="fas fa-phone"></i></a>
                    <a href="#" class="goo"><i class="fas fa-paper-plane"></i></a>
                </div> #}

                <ul>
                    {# <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li> #}
                    <li><a href="#" data-toggle="tooltip" title="make a call"><i class="fas fa-phone"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="send email"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="#home" class="home-button" data-toggle="tooltip" title="back to top"><i class="fas fa-chevron-up"></i></li>
                    </ul>
            </div>
            <div class="col-md-2 backTotopcenter">
                <a href="#home" id="backToTop"><i class="fas fa-angle-double-up"></i></a>
            </div>
            <div class="col-md-5">
                <a href="#"><p class="copyright">&copy; 2021 millscreates </p></a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->