<!-- Include All JS -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/mixer.js"></script>
        <script type="text/javascript" src="/js/wow.min.js"></script>
        <script type="text/javascript" src="/js/jquery.appear.js"></script>
        {# <script type="text/javascript" src="/js/respond.min.js"></script> #}
        <script type="text/javascript" src="/js/tilt.jquery.js"></script>
        <script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1613706377/magicmouse/magic_mouse-1.1.js"></script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
        <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
        {# <script type="text/javascript" src="/js/prettyPhoto.js"></script> #}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.4/cloudinary-core-shrinkwrap.min.js"></script>
        <script type="text/javascript" src="/js/theme.js"></script>
</script>