<!-- Footer Section -->
<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <ul>
                    {# <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li> #}
                    <li><a href="tel:07544108660"><span class="icon-telephone-handle-silhouette" data-toggle="tooltip" title="make a call"></span></a></li>
                    <li><a href="mailto:webdesign@millscreates.co.uk"><span class="icon-envelope" data-toggle="tooltip" title="send email"></span></a></li>
                    <li><a href="https://www.facebook.com/weareThePromoPeople" target="_blank" rel="noopener noreferrer"><span class="icon-facebook-app-symbol" data-toggle="tooltip" title="link to facebook"></span></a></li>
                    <li><a href="#home" class="home-button" data-toggle="tooltip" title="back to top"><span class="icon-chevron-up"></span></li>
                </ul>
            </div>
            <div class="col-md-2 backTotopcenter">
                <a href="#home" id="backToTop"><span class="icon-chevron-up"></span></i></a>
            </div>
            <div class="col-md-5">
                <a href="#"><p class="copyright">&copy; 2021 millscreates </p></a>
            </div>
        </div>
    </div>
</footer>