<!-- Include All JS -->
        <link rel="preload" href="/css/bootstrap_purify.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="/css/style-minify.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript><link rel="stylesheet" href="/css/style-minify.css"></noscript>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" defer src="/js/mixer.js"></script>
        <script type="text/javascript" src="/js/wow.min.js"></script>
        <script type="text/javascript" defer src="/js/tilt.jquery.js"></script>
        <script type="text/javascript" defer src="https://res.cloudinary.com/veseylab/raw/upload/v1613706377/magicmouse/magic_mouse-1.1.js"></script>
        <script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.11.4/cloudinary-core-shrinkwrap.min.js"></script>
        <script type="text/javascript" defer src="/js/theme-minify.js"></script>
        {# <script type="text/javascript" defer src="/js/jquery.appear.js"></script> #}
        {# <script type="text/javascript" defer src="/js/respond.min.js"></script> #}
        {# <script type="text/javascript" src="/js/prettyPhoto.js"></script> #}