<!-- Header -->


<header class="header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-3">
                <div class="logo"><a href="/">Mills Creates</a>
                </div>
            </div>
            <div class="col-xl-9 col-md-9">
                <nav class="mainMenu">
                    <div id="menuToggle" class="hidden-sm d-md-none d-block"><a href="#">Menu</a>
                    </div>
                    <ul>
                        <li class="scroll magic-hover magic-hover_square"><a href="/#portfolio">Back to Portfolio</a>
                        </li>
                        
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
        </div>
    </div>
</header>