<!-- Header -->
<header class="header" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-2">
                <div class="logo"><a href="#home">Mills Creates</a>
                </div>
            </div>
            <div class="col-xl-10 col-md-10">
                <nav class="mainMenu">
                     <div id="menuToggle" class="d-md-none d-lg-none"><a href="#">Menu</a>
                    </div>
                    <ul>
                        <li class="scroll magic-hover magic-hover_square"><a href="#home">Home</a>
                        </li>
                        <li class="scroll magic-hover magic-hover_square"><a href="#services">Services</a>
                        </li>
                           <li class="scroll magic-hover magic-hover_square"><a href="#aboutus">About</a>
                        </li>
                          <li class="scroll magic-hover magic-hover_square"><a href="#portfolio">work</a>
                        </li>
                            <li class="scroll magic-hover magic-hover_square"><a href="#contact">contact</a>
                        </li>
                         <li class="scroll"><a href="tel:07795670502"><span class="underline--magical">07544 108660</span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
        </div>
    </div>
</header>