<section class="heroSection d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="b1desc text-left"> 
                        <p>Hello, I'm Lorraine,</p>
                        <h1>Web designer <span>&amp;</span> developer in London<span class="period">.</span></h1>  
                        <p>I specialise in creating modern, result-driven websites for small to medium-sized businesses. Get your brand online in no time using my affordable design packages.<span class="blinking-cursor">|</span></p>
                        <a href="#contact" class="apButtons comm_btn">Start a project</a>
                    </div>
                </div>
            </div>
        </div>
</section>