<section class="bannerSeven banners heroSection">
    <div class="vide_con" id="ripple">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="b1desc text-left bdescs"> 
                        <p>Hello, I'm Lorraine,</p>
                        <h1>Web designer <span>&amp;</span> developer in London<span class="period">.</span></h1>  
                        <p>I specialise in creating modern, result driven websites for local businesses, self-employed professionals and SMEs.
                        I have a variety of affordable design packages, ready to get your brand online and grow your business.<span class="blinking-cursor">|</span></p>
                        <a href="#contact" class="apButtons comm_btn">Start a project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>