<section class="comonSection folioSection" id="work">
   <div class="container">
        <div class="row">
            <div class="col-xl-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle magic-hover magic-hover_square"> 
                {# <i class="icon-briefcase"></i> #}
                     <h2><span class="underline--magical">Printing Work</span></h2>
                    {# <p>Lorem ipsum dolor ingroe remove it later</p> #}
                </div> 
            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp"   data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="foliioMenu magic-hover magic-hover_square">
                    <ul>
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter="flyer">Flyers</li>
                        <li class="filter" data-filter="poster">Posters</li>
                        <li class="filter" data-filter="promotional">Promotional</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="700ms" data-wow-delay="300ms" id="Grid">
            <div class="col">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-printing-clubflyers-flyposters-promoter-promomaterial.png" alt="event flyer printing" class="cld-responsive">  
                </div>
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-club-events-festivals-promotional.png" alt="club promotional flyer" class="cld-responsive">  
                </div>
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyers-promotional-events-clubs-festival-rave.png" alt="festival promotional flyer" class="cld-responsive">  
                </div>
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyers-posters-flyposters.png" alt="printed promotional poster" class="cld-responsive">  
                    </div>
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-printing-posters-club-promoters-festival-flyprinting.png" alt="poster printing nightclub" class="cld-responsive">  
                </div>
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/aboard-printing-posterprinting-club-promo-promoter.jpg" alt="printed poster design" class="cld-responsive">  
                </div>
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyposters-promo-club-festival-rave-printing-fullcolour-promoters.png" alt="colour printed poster" class="cld-responsive">  
                </div>
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyposters-largeformat-fullcolour-printing-posters.png" alt="poster printing club promotion" class="cld-responsive">  
                </div>
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyposters-festival-rave-club.png" alt="festival poster print" class="cld-responsive">  
                </div>
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/posters-posterprinting-flyposters-rave-club-promoter.png" alt="rave printed flyer" class="cld-responsive">  
                </div>
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/events-promotions-nightclub-props.png" alt="event printed promotion flyer" class="cld-responsive">  
                </div>
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/Tshirt-printing-promotional-events-clubs.png" alt="tshirt printing club promotion" class="cld-responsive">  
                </div>
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/cdprinting-duplication-promotional-music-events-festival-nightlife.png" alt="cd duplication" class="cld-responsive">  
                </div>
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/promotional-cd-duplication-music-festival-club-flyers.png" alt="event promotion cd printing" class="cld-responsive">  
                </div>
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/pinbadge-badges-printing-promotional-promoter-music-event.png" alt="pin badge promotional materials" class="cld-responsive">  
                </div>
            </div>    
        </div>   
    </div>
</section>





<!-- Pritning Portfolio Section -->
{# <section class="comonSection folioSection" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionTitle wow fadeInUp"   data-wow-duration="700ms" data-wow-delay="300ms">
                    <i class="icon-wallet"></i>
                    <h2>Our Works</h2>
                    <p>Lorem ipsum dolor ingroe remove it later</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp"   data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="foliioMenu magic-hover magic-hover_square">
                    <ul>
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter="flyer">Flyers</li>
                        <li class="filter" data-filter="poster">Posters</li>
                        <li class="filter" data-filter="promotional">Promotional</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row wow fadeIn" data-wow-duration="700ms" data-wow-delay="300ms" id="Grid">
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-printing-clubflyers-flyposters-promoter-promomaterial.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div> 
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-club-events-festivals-promotional.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyers-promotional-events-clubs-festival-rave.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyers-posters-flyposters.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix flyer">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyers-printing-posters-club-promoters-festival-flyprinting.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/aboard-printing-posterprinting-club-promo-promoter.jpg" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyposters-promo-club-festival-rave-printing-fullcolour-promoters.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/flyposters-largeformat-fullcolour-printing-posters.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/printing-flyposters-festival-rave-club.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix poster">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/posters-posterprinting-flyposters-rave-club-promoter.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/events-promotions-nightclub-props.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/Tshirt-printing-promotional-events-clubs.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/cdprinting-duplication-promotional-music-events-festival-nightlife.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/promotional-cd-duplication-music-festival-club-flyers.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="singleFolio mix promotional">
                    <img data-src="https://res.cloudinary.com/millscreates/image/upload/w_auto,c_scale,f_auto,q_auto,e_sharpen:100/portfolio/pinbadge-badges-printing-promotional-promoter-music-event.png" alt="small business website design" class="cld-responsive">  
                </div>
            </div>    
        </div>   
    </div>
</section> #}
<!-- End printingSection -->