<!-- Header -->
<section class="comonSection" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionTitle wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <h2><span class="underline--magical">what i can do for you</span></h2>
                    {# <p>description</p> #}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="features2">
                    <div class="singleFeatures2">
                        <div class="sF2con active">
                            <a href="#webdesign">
                            <i class="lni lni-layout"></i>
                            <h4>Web Design</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#printing">
                                <i class="lni lni-layers"></i>
                                <h4>printing</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#hosting">
                                <i class="lni lni-home"></i>
                                <h4>Hosting & Maintenance</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                         <div class="sF2con">
                            <a href="#seo">
                            <i class="lni lni-code"></i> 
                                <h4>Web development</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <div class="sF2DHolder">
                        <div class="singleFeatureDetails" id="webdesign">
                            <h2>Website Design</h2>
                            <p>
                               I create modern, clean and effective designs to promote services and products. This helps to enhance website performance, increase traffic and help you to improve the effectiveness of SEO campaigns. I utilise content management systems, mainly Wordpress for clients that wish to update their own content easily.
                            </p>
                        </div>
                        <div class="singleFeatureDetails" id="printing">
                            <h2>Printing Services</h2>
                            <p>
                                I offer a variety of printing services: menus, business stationary, flyers, posters, banners or any promotional materials. If you are just starting up your business and you have your website designed by me, I will design and print a batch of business cards - absolutely free of charge.
                                </p>
                        </div>
                        <div class="singleFeatureDetails" id="seo">
                            <h2>Web Development</h2>
                            <p>
                            I design and develop front-end websites from the ground up, utilising modern technlogies, lightweight frameworks and custom code. All this, ensures that your newly designed website will be blazingly fast and working seamlessly on any device.
                            </p>
                            
                        </div>
                        <div class="singleFeatureDetails" id="hosting">
                            <h2>Hosting & Maintenance</h2>
                            <p>
                                If you do not have the time or know how to set up a hosting account and manage your own website, I can handle that for you. I offer hosting and maintenance solutions as part of my web design packages. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slidersection wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="overlaySlider"></div>
            <div class="container-fluid">
                <div class="row h-100">
                    <div class="col-lg-12 my-auto">
                        <div id="Slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="sliderItem">
                                        <p> Personal blogs </p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="sliderItem">
                                        <p> Ecommerce stores </p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="sliderItem">
                                        <p> Personal interest websites </p>
                                    </div>
                                </div>
                                  <div class="carousel-item">
                                    <div class="sliderItem">
                                        <p>Hobby pages </p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="sliderItem">
                                        <p> Promotional Websites </p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="sliderItem">
                                        <p> One Page Websites</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                <div class="sliderItem">
                                    <p> Landing pages </p>
                                </div>
                                </div>
                                <div class="carousel-item">
                                <div class="sliderItem">
                                    <p> Local community pages </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</section>