/*=======================================================================
// Fonts
=========================================================================*/

/* @import url('https://fonts.googleapis.com/css?family=Cutive+Mono'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
    font-family: 'moontimeregular';
    src: url('../fonts/moontime-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?cbn3k');
    src:  url('/fonts/icomoon.eot?cbn3k#iefix') format('embedded-opentype'),
      /* url('/fonts/icomoon.ttf?cbn3k') format('truetype'), */
      url('/fonts/icomoon.woff?cbn3k') format('woff'),
      url('/fonts/icomoon.svg?cbn3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-layout:before {
    content: "\e900";
  }
  .icon-web-programming:before {
    content: "\e901";
  }
  .icon-home:before {
    content: "\e902";
  }
  .icon-paper-stack-stationery:before {
    content: "\e903";
  }
  .icon-left-quote:before {
    content: "\e904";
  }
  .icon-envelope:before {
    content: "\e905";
  }
  .icon-telephone-handle-silhouette:before {
    content: "\e906";
  }
  .icon-chevron-up:before {
    content: "\e907";
  }
  .icon-puzzle:before {
    content: "\e908";
  }
  .icon-location-pin:before {
    content: "\e909";
  }
  .icon-headphones:before {
    content: "\e90a";
  }
  

/* ==================================PRELOADER=================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #f8f8ff;
    z-index: 999;
}

.centrize {
    display: table;
    table-layout: fixed;
    height: 100%;
    position: relative;
}

.full-width {
    max-width: 100%;
    width: 100%;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.preloader .spinner {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fa038b;
    opacity: 1;
    -webkit-animation: loader-bounce 2s infinite ease-in-out;
    animation: loader-bounce 2s infinite ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.preloader .spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    opacity: 0.1;
}

@-webkit-keyframes loader-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes loader-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


/*=================
// Selection Text
==================*/

::selection {
    color: #fff;
    background: #272727;
}


/*=================
// Scroll Bar
==================*/

body::-webkit-scrollbar {
    width: 10px;
}

/* width of the entire scrollbar */
body::-webkit-scrollbar-track {
    background: #fff;
}

/* color of the tracking area */
body::-webkit-scrollbar-thumb {
    background-color: #fa038b;
    /* color of the scroll thumb */
    border-radius: 0px;
    /* roundness of the scroll thumb */
    /* border: 0px solid orange;  */
    /* creates padding around scroll thumb */
}


/* html {
    scroll-behavior: smooth;
} */


/*=================
// Blinking cursor
==================*/

.blinking-cursor {
    /* font-weight: 100; */
    font-size: 1.3rem;
    color: #272727;
    font-family: arial;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #272727;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #fff;
    }
}


/*=================
// Pointer Cursor
==================*/

body #magicPointer {
    height: 10px;
    width: 10px;
    position: fixed;
    z-index: 9999;
    /* background: blue; */
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
}

body #magicMouseCursor {
    position: fixed;
    width: 35px;
    height: 35px;
    border: 1px solid #8C848C;
    border-radius: 50%;
    z-index: 9999;
    left: 0;
    top: 0;
    transition: transform 0.07s, width 0.3s, height 0.3s;
    pointer-events: none;
}

body #magicPointer {
    height: 10px;
    width: 10px;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
    background: #8C848C;
    border-radius: 50%;
    pointer-events: none;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}


body #magicPointer.pointer-blur {
    height: 50px;
    width: 50px;
    background: rgba(128, 128, 128, 0.187);
    box-shadow: 0px 0px 10px -5px rgb(4, 4, 4);
}
body .magic-hover {
    transition: all 0.2s;
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 24px;
    color: #282828;
    font-weight: 400;
    /* overflow-x: hidden; */
}

a {
    color: #282828;
    transition: all ease 700ms;
    -moz-transition: all ease 700ms;
    -webkit-transition: all ease 700ms;
    -ms-transition: all ease 700ms;
    -o-transition: all ease 700ms;
}

a:hover {
    color: #8C848C;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
    color: #8C848C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}


/*=======================================================================
// Section Setup
=========================================================================*/

.comonSection {
    width: 100%;
    position: relative;
    background: #FFF;
    padding: 100px 0;
    /* margin-top: 10em;
    margin-bottom: 10em; */
}

.sectionTitle {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 3.43em;
    /* margin: auto auto; */
}

.sectionTitle h2 {
    font-size: 1rem;
}

.sectionTitle i {
    font-size: 2rem;
    color: #808184;
}

.sectionTitle p {
    font-size: 1rem;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 24px;
}

.sectionTitle.whites p {
    color: #FFF;
}

.sectionTitle h2 span {
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 15px 0 20px;
    line-height: 11px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.sectionTitle.whites h2 {
    color: #FFF;
}

.sectionTitle.whites i {
    color: #FFF;
}

.comonPage {
    padding: 80px 0px;
    background: #f7f7f7;
}


/*=======================================================================
// Margin & padding Setup
=========================================================================*/

.noMarginBottom {
    margin-bottom: 0px !important;
}

.noMarginRight {
    margin-right: 0px !important;
}

.paddingRight30 {
    padding-right: 30px !important;
}

.paddingLeft30 {
    padding-left: 30px !important;
}