@media (min-width: 1400px) and (max-width:2000px) {
    .folioHoverContent {
        padding-top: 148px;
    }
    .mainMenu ul li {
        padding: 0 30px 40px;
    }
    #footer ul li .home-button {
        display: none;
    }
}

@media (min-width: 912px) and (max-width: 1399px) {
    .mainMenu ul li {
        padding: 0 20px 40px;
    }
    #footer ul li .home-button {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 911px) {
    .mainMenu ul li {
        padding: 0 15px 40px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .mainMenu span {
        font-size: 1.6rem;
    }
    .mainMenu ul li:first-child {
        padding-left: 0px;
    }
    .mainMenu ul li a {
        letter-spacing: 0px;
    }
    /* Hero ===========*/
    .b1desc p,
    .b1desc7 p {
        width: 90%;
        line-height: 1.4;
        margin: 0;
    }
    .apButtons {
        font-size: 12px;
        padding: 15px 20px;
        margin-top: 2em;
    }
    .sF2DHolder {
        padding: 2em 1.5em;
    }
    /* aboutus ========================= */
    #aboutus {
        padding-top: 4em;
    }
    .aboutItem {
        margin-bottom: 30px;
    }
    .aboutItem .abVerticalBar {
        display: none;
    }
    .aboutItem {
        border-top: 0;
    }
    .singleAbout {
        margin-top: 0;
    }
    /* services ========================== */
    .singlePrice {
        margin-bottom: 30px;
    }
    .copyright {
        line-height: 20px;
        padding: 25px 0;
    }
    #contact h2 {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    #contact p {
        padding: 0;
        font-size: 1.2rem;
    }
    .contactSection .container {
        padding: 0 2.5em;
    }
    #footer ul li .home-button {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .header .container-fluid {
        padding: 0px !important;
    }
    .logo,
    .fixedHeader .logo {
        text-align: center;
        padding: 15px 0;
    }
    .mainMenu,
    .fixedHeader .mainMenu {
        padding-top: 0px;
    }
    #menuToggle {
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }
    #menuToggle a {
        display: inline-block;
        background: #e7e7e7;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 2px;
        padding: 3px 8px;
    }
    #menuToggle a:hover,
    #menuToggle a.active {
        background: #8C848C;
        color: #FFF;
    }
    .mainMenu ul {
        position: absolute;
        width: 100%;
        background: #FFF;
    }
    .mainMenu>ul {
        height: 100vh;
        display: none;
    }
    .mainMenu ul li,
    .fixedHeader .mainMenu ul li {
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .mainMenu ul li:after {
        display: none;
    }
    .mainMenu ul li a {
        padding: 15px 0;
        width: 100%;
    }
    /* Hero ===========*/
    .b1desc p,
    .b1desc7 p {
        width: 90%;
        line-height: 1.4;
        margin: 0;
    }
    .apButtons {
        font-size: 12px;
        padding: 15px 20px;
        margin-top: 2em;
    }
    /***************** Services *******************/
    .sF2DHolder {
        padding: 2em 3em;
    }
    .singleFeature {
        margin-bottom: 40px;
    }
    .singleFeatureDetails p {
        /* font-size: 1.15rem; */
        letter-spacing: .75;
    }
    #services {
        padding-bottom: 0;
        padding-top: 13em;
    }
    /* features slider ===================*/
    #Slider p {
        font-size: 1.3rem;
    }
    #features {
        padding-top: 3em;
    }
    /***************** Portfolio *******************/
    #portfolio {
        padding-bottom: 0;
    }
    .foliioMenu ul li:after {
        display: none;
    }
    .foliioMenu ul li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    .foliioMenu ul li:last-child {
        padding-right: 34px;
    }
    #Grid {
        text-align: center;
    }
    .singleFolio {
        width: 290px;
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
    /***************** About Us *******************/
    #aboutus {
        padding-top: 4em;
    }
    .aboutItem {
        margin-bottom: 30px;
    }
    .aboutItem .abVerticalBar {
        display: none;
    }
    .aboutItem {
        border-top: 0;
    }
    .singleAbout {
        margin-top: 0;
    }
    /***************** Price *******************/
    .singlePrice {
        margin-bottom: 30px;
    }
    /***************** Client *******************/
    .singleClient {
        width: 260px;
    }
    /***************** Contact *******************/
    .contactSection .container {
        padding: 0 3.5em;
    }
    #contact h2 {
        font-size: 0.7rem;
        line-height: 1.9;
    }
    #contact p {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.4;
        padding-bottom: 0;
    }
    .contactSection .container {
        padding: 0 2em;
    }
    .contactSection {
        padding-top: 9em;
        overflow: scroll;
    }
    .contactForm {
        font-size: 1rem;
        line-height: 1;
    }
    .contactForm input[type="text"],
    .contactForm input[type="email"],
    .contactForm input[type="number"] {
        width: 100%;
        height: 2em;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0.6em;
    }
    .contactForm textarea {
        padding-left: 0;
        margin-bottom: 0;
        color: darkgray;
        /* background: red; */
        height: 9em;
    }
    .contactForm .form-check-label {
        font-size: 0.8rem;
    }
    /***************** Footer *******************/
    .copyright {
        text-align: center;
        /* line-height: 20px; */
        /* padding-bottom: 30px; */
        padding: 35px 0;
        /* margin-bottom: 1em; */
    }
    .backTotopcenter {
        bottom: 0;
        height: 3em;
        /* padding: 15px 0; */
        position: absolute;
        width: 100%;
        padding: 0;
        display: none;
    }
    #backToTop {
        width: 100%;
        padding-top: 10px;
        z-index: 9999;
        /* height: 4em; */
        /* color: red; */
        background-color: red;
        display: none;
    }
    /***************** Testimonial *******************/
    .testimonialItem p {
        letter-spacing: 1px;
        font-size: 1.2em;
        line-height: 25px;
        width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .col-xl-10 {
        padding-right: 0;
        padding-left: 0;
    }
    .col-xl-2 {
        padding-right: 0;
        padding-left: 0;
    }
    .logo,
    .fixedHeader .logo {
        text-align: center;
        padding: 17px 0px 2px 0px;
    }
    .mainMenu,
    .fixedHeader .mainMenu {
        padding-top: 0px;
    }
    #menuToggle {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    #menuToggle a {
        display: inline-block;
        background: #e7e7e7;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        padding: 5px 10px;
    }
    #menuToggle a:hover,
    #menuToggle a.active {
        background: #8C848C;
        color: #FFF;
    }
    .mainMenu ul {
        position: absolute;
        width: 100%;
        background: #FFF;
    }
    .mainMenu>ul {
        height: 100vh;
        display: none;
    }
    .mainMenu ul li,
    .fixedHeader .mainMenu ul li {
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .mainMenu ul li:after {
        display: none;
    }
    .mainMenu ul li a {
        padding: 15px 0;
        border-bottom: 1px solid #fffbfb;
    }
    /* Hero =========================*/
    .b1desc p,
    .b1desc7 p {
        width: 80%;
        line-height: 1.1;
        margin: 0;
    }
    .apButtons {
        font-size: 12px;
        padding: 15px 20px;
        margin-top: 1em;
    }
    .b1desc {
        padding: 0 2em;
    }
    /* services ======================*/
    #services {
        padding-bottom: 3em;
    }
    .slidersection p {
        font-size: 1rem;
        padding: 0;
        margin: auto auto;
        width: 100%;
        line-height: 1.2;
        padding: 4em 0
    }
    #webdesign h2 {
        margin: 0;
        padding: 0;
    }
    .sF2DHolder {
        margin: 0;
    }
    /***************** services *******************/
    .sF2DHolder {
        padding: 1em 1.5em;
    }
    .featuresSection {
        padding-top: 0;
    }
    .featuresSection .btn {
        font-size: 0.9rem;
        text-align: left!important;
        padding: 1.4em;
    }
    .singleFeatureDetails {
        margin: 0;
    }
    .singleFeatureDetails p {
        line-height: 1.4;
    }
    .singleFeatureDetails h2 {
        line-height: 2;
    }
    /***************** accordian *******************/
    .card-body {
        font-size: 1.2rem;
    }
    /***************** Portfolio *******************/
    .singlePrice {
        margin-bottom: 30px;
    }
    .pricingSection {
        padding-bottom: 0;
    }
    /***************** printing Portfolio *******************/
    .foliioMenu ul li:after {
        display: none;
    }
    .foliioMenu ul li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    .singleFolio {
        width: 290px;
        float: none;
        display: inline-block;
        margin-bottom: 10px;
    }
    .foliioMenu ul li:last-child {
        padding-right: 34px;
    }
    #Grid {
        text-align: center;
    }
    /***************** About Us *******************/
    #aboutus {
        padding-top: 4em;
    }
    .aboutItem {
        margin-bottom: 30px;
    }
    .aboutItem .abVerticalBar {
        display: none;
    }
    .aboutItem {
        border-top: 0;
    }
    .singleAbout {
        margin-top: 0;
    }
    /***************** Testimonial *******************/
    .testimonialItem p {
        letter-spacing: .75px;
        font-size: 1em;
        line-height: 20px;
        width: 90%;
    }
    /***************** Contact *******************/
    #contact h2 {
        font-size: 1.2rem;
        line-height: 1.7;
    }
    #contact p {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.4;
        padding-bottom: 0;
        letter-spacing: .75px;
    }
    .contactSection .container {
        padding: 0 1.5em;
    }
    .contactSection {
        padding-top: 2.5em;
        overflow: scroll;
    }
    .contactForm {
        font-size: 1rem;
        line-height: 1;
    }
    .contactForm input[type="text"],
    .contactForm input[type="email"],
    .contactForm input[type="number"] {
        width: 100%;
        height: 2em;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0.6em;
    }
    .contactForm textarea {
        padding-left: 0;
        margin-bottom: 0;
        color: darkgray;
        height: 9em;
    }
    .contactForm .form-check-label {
        font-size: 0.8rem;
    }

    .contactSection a {
        font-size: 1.5rem;
    }
    /***************** Footer *******************/
    .copyright {
        text-align: center;
        padding: 35px 0;
    }
    .backTotopcenter {
        display: none;
    }
}

@media (max-width: 480px) {
    .contactSection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/c_fill,h_480,f_auto,q_auto/v1622636161/portfolio/webdesign-photography-freelancer-london-coffee-nespresso_yit5xz.jpg');
    }
    .testimonialsection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/c_fill,h_480,f_auto,q_auto/portfolio/photography-freelancer-london-webdesign-portfolio.jpg');
    }
    .slidersection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/c_crop,g_auto,h_400,w_700,f_auto,q_auto/portfolio/festival-website.jpg');
    }
    .heroSection {
        background: -webkit-linear-gradient(45deg, rgba(255, 175, 188, .9), rgba(100, 216, 243, .9), rgba(232, 236, 1, .7), rgba(245, 146, 176, .9), rgba(52, 219, 216, .7)) 0 0 / 1000% no-repeat, url(https://res.cloudinary.com/millscreates/image/upload/v1624028632/f_auto,q_auto/portfolio/wheel_480_small.jpg) 0 0 / cover no-repeat;
    }
    @-webkit-keyframes gradientAnimation {
        0% { background-position: 0% 50%, 0 0;}
        50% { background-position: 80% 0%, 0 0;}
        100% { background-position: 0% 30%, 0 0;}
    }
    
    @keyframes gradientAnimation {
        0% { background-position: 0% 50%, 0 0;}
        50% { background-position: 80% 0%, 0 0;}
        100% { background-position: 0% 30%, 0 0;}
    }
    @supports (-webkit-touch-callout: inherit) {
        .contactSection,
        .testimonialsection,
        .slidersection
        {
            background-attachment: scroll;
        }
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .contactSection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/c_fill,f_webp,fl_awebp,q_auto/v1622636161/portfolio/webdesign-photography-freelancer-london-coffee-nespresso_yit5xz.jpg');
    }
    .slidersection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/f_auto,q_auto/portfolio/festival-website.jpg');
    }
    .testimonialsection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/c_scale,w_700,f_webp,fl_awebp,q_auto/portfolio/photography-freelancer-london-webdesign-portfolio.jpg');
    }
    .heroSection {
        background: -webkit-linear-gradient(45deg, rgba(255, 175, 188, .9), rgba(100, 216, 243, .9), rgba(232, 236, 1, .7), rgba(245, 146, 176, .9), rgba(52, 219, 216, .7)) 0 0 / 1000% no-repeat, url(https://res.cloudinary.com/millscreates/image/upload/f_auto,q_auto/portfolio/webdesign_london_wheel_large_.jpg) 0 0 / cover no-repeat;
    }
    @supports (-webkit-touch-callout: inherit) {
        .contactSection,
        .testimonialsection,
        .slidersection
         {
            background-attachment: scroll;
        }
    }
}

@media (min-width: 1025px) {
    .contactSection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/f_auto,q_auto/v1622636161/portfolio/webdesign-photography-freelancer-london-coffee-nespresso_yit5xz.jpg');
    }
    .slidersection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/f_auto,q_auto/portfolio/festival-website.jpg');
    }
    .testimonialsection {
        background-image: url('https://res.cloudinary.com/millscreates/image/upload/e_grayscale/f_auto,q_auto/portfolio/photography-freelancer-london-webdesign-portfolio.jpg');
    }
    .heroSection {
        background: linear-gradient(45deg, rgba(255, 175, 188, .9), rgba(100, 216, 243, .9), rgba(232, 236, 1, .7), rgba(245, 146, 176, .9), rgba(52, 219, 216, .7)) 0 0 / 1000% no-repeat, url(https://res.cloudinary.com/millscreates/image/upload/f_auto,q_auto/portfolio/webdesign_london_wheel_large_.jpg) 0 0 / cover no-repeat;
    }
}